*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.wrapper {
  height: 100vh;
  min-width: 1080px;
  font-family: 'Open Sans', sans-serif;
  color: #e7e5e4;
}

.container {
  min-height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    'light water gas common'
    'total total total total';
}

.unit__name {
  text-align: center;
  font-size: 4rem;
}

.unit__value {
  text-align: center;
  font-size: 3rem;
  border-bottom: 8px solid rgba(214, 211, 209, 0.3);
}

.unit__calculation {
  padding: 24px;
  font-size: 1.5rem;
}

.unit__result {
  display: grid;
  place-items: center;
  font-size: 3rem;
  background-color: #d97706;
  position: relative;
}

.unit__result::before {
  width: 50px;
  height: 10px;
  content: '';
  background-color: #e7e5e4;
  position: absolute;
  right: -25px;
  z-index: 99;
}

.unit__result::after {
  width: 10px;
  height: 50px;
  content: '';
  background-color: #e7e5e4;
  position: absolute;
  right: -5px;
  z-index: 99;
}

.common .unit__result::after,
.common .unit__result::before {
  content: none;
}

.light {
  background-color: #292524;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.5fr 2.2fr 0.9fr;
  grid-area: light;
}

.water {
  background-color: #44403c;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.5fr 2.2fr 0.9fr;
  grid-area: water;
}

.gas {
  background-color: #292524;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 2.7fr 0.9fr;
  grid-area: gas;
}

.common {
  background-color: #44403c;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 2.7fr 0.9fr;
  grid-area: common;
}

.total {
  display: grid;
  place-items: center;
  font-size: 6rem;
  background-color: #1c1917;

  grid-area: total;
}
